<link rel="stylesheet" type="text/css" href="assets/css/components/footer.css?rev" media="all">
<footer id="footer">
	<nav class="footNav">
		<ul>
			<li><a href="company.html">企業情報</a></li>
			<li><a href="https://forms.gle/sCWgdZNcGELhi1KU8" target="_blank">お問合せ</a></li>
			<li><a href="https://www.amazon.co.jp/" target="_blank">購入ページ</a></li>
		</ul>
	</nav>
		
	<div class="copyright">
		<div class="copyright__conteiner">
			<div class="copyright__copy">
				<% let now = new Date(); let year = now.getFullYear();  %>
				Copyright© 2020-<%- year %>  forlist corporation all rights reserved.
			</div>
		</div>
	</div>
</footer>
