<link rel="stylesheet" type="text/css" href="assets/css/components/header.css?rev" media="all">
<header id="cover">
	<div class="coverWrap">
		<h1 class="productCopy">あらゆるトイレに<br> 安心と快適を。</h1>
		<img src="assets/images/awaguard.png" class="package">
	</div>
</header>