<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<%
	  var _default = json['default'];
	  for ( var key in _default ) {
		if ( typeof page[key] === 'undefined' ) {
		  page[key] = _default[key];
		}
	  }
	-%>
	<title><% if (page['pagetitle']){%><%= page['pagetitle'] %> | <% } %><%= page['sitename'] %></title>
	<meta name="description" content="<%= page['description'] %>">
	
	<!--faviconセット-->
	<link rel="apple-touch-icon" sizes="57x57" href="assets/images/favicon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="assets/images/favicon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="assets/images/favicon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="assets/images/favicon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="assets/images/favicon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="assets/images/favicon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="assets/images/favicon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="assets/images/favicon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="assets/images/favicon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="assets/images/favicon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="assets/images/favicon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon/favicon-16x16.png">
	<link rel="manifest" href="assets/images/favicon/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="assets/images/favicon/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<!--補正スタイル(ver4.0.0)-->
	<link rel="stylesheet" onload="window.hljscss = 1;" href="//cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
	<script>window.hljscss || document.write('<link rel="stylesheet" href="assets/css/normalize.css">');</script>
	<!--レイアウト基本セット-->
	<link rel="stylesheet" type="text/css" href="assets/css/common.css?rev" media="all">

	<!--JQuery-->
	<script src="//code.jquery.com/jquery-3.0.0.js" integrity="sha256-jrPLZ+8vDxt2FnE1zvZXCkCcebI/C8Dt5xyaQBjxQIo=" crossorigin="anonymous"></script>
	<script>window.jQuery || document.write('<script src="assets/js/jquery-3.0.0.js"><\/script>')</script>

	<!--スムーズスクロール-->
	<script>
	$(function(){
		// #で始まるリンクをクリックしたら実行
		$('a[href^="#"]:not(.is-modal)').click(function() {
			// スクロールの速度
			var speed = 400; // ミリ秒で記述
			var href= $(this).attr("href");
			var target = $(href == "#" || href == "" ? 'html' : href);
			var position = target.offset().top;
			$('body,html').animate({scrollTop:position}, speed, 'swing');
			return false;
		});
	});
	</script>

	<!--Font Awesome 6-->
	<script src="https://kit.fontawesome.com/3058f5da67.js" crossorigin="anonymous"></script>
	<!-- googleフォント -->
	<link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&family=M+PLUS+1p:wght@400;500;700&family=Noto+Sans+JP:wght@300;400;500;700;900&family=Noto+Serif+JP:wght@600=Roboto:wght@700&display=swap" rel="stylesheet">