@charset "UTF-8";
// Sass Document　スタイル定義

// メディアクエリ用mixin
//例）@include media(tablet) {
//		display:none;
//	  }

@mixin media($media-width) {
//1024px以下に“tablet”
	@if $media-width == tablet {
		@media only screen and (max-width: $bp-tb) {
			@content;
		}
	}
	@else if $media-width == phablet {
//736px以下に“phablet”
		@media only screen and (max-width: $bp-pb) {
			@content;
		}
	}
	@else if $media-width == smartphone {
//500px以下に“smartphone”
		@media only screen and (max-width: $bp-sp) {
			@content;
		}
	}
}
//////////////////////////////////////////////

//　iPad Air、iPad mini、Nexus9
//				768px × 1024px

//　Nexus7　	600px × 960px
//　iPhone 6+	414px × 736px
//　iPhone 6	375px × 667px
//　Galaxy S4	360px × 568px
//　Xperia Z	360px × 568px

//　iPhone 3GS	320px × 480px
//　iPhone 4s	320px × 480px
//　iPhone 5	320px × 568px
//　Gaalxy S2	320px × 533px

//////////////////////////////////////////////



// 基本コンテンツ幅
@mixin basicWrap {
	max-width:$df-width;//1000px
	margin-left:auto;
	margin-right:auto;
	padding-left:$df-space;
	padding-right:$df-space;
}

// 拡張コンテンツ幅
@mixin wideWrap {
	max-width:$ex-width;//1280px
	margin-left:auto;
	margin-right:auto;
	padding-left:$df-space;
	padding-right:$df-space;
}


//基本ベンダープレフィックス
//例）@include prefix(transition, all 0.3s);

@mixin prefix($property, $value) {
     @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
          #{$prefix}#{$property}: $value;
     }
}


//animationベンダープレフィックスセット
//例）@include animation(hoge 2s linear 0s 1);

@mixin animation($animation-name) {
	-webkit-animation: $animation-name;
	-moz-animation: $animation-name;
	animation: $animation-name;
	-webkit-animation-fill-mode: both;
	-moz-animation-fill-mode: both;
	animation-fill-mode: both;
}


//keyframesベンダープレフィックスセット
//例）@include keyframes(hoge){
//		0% { opacity:0; }
//		100% { opacity:1; }
//	  }

@mixin keyframes($animation-name: animaton) {
	@-webkit-keyframes #{$animation-name} {
		@content;
	}
	@-moz-keyframes #{$animation-name} {
		@content;
	}
	@keyframes #{$animation-name} {
		@content;
	}
}

//中のブロック揃え（初期値：両端揃え）
//記述例）@include flexbox ←両端揃えのとき
//記述例）@include flexbox(flex-end) ←右揃えのとき
//カッコ内には任意のjustify-contentプロパティが入れられる
@mixin flexbox($flex-layout:space-between){
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: $flex-layout;
	justify-content: $flex-layout;
	@include media(smartphone) {
		display: inherit;
	}
}

//フォントサイズとline-heightを一括指定
//記述例）@include fs(12, 1.2)
//展開css）font-size: 12px; font-size: 1.2rem; line-height: 1.2;
@mixin fs($font-size-px, $line-height){
	font-size:$font-size-px + px;
	font-size:$font-size-px * 0.1 + rem ;
	line-height:$line-height ;
}

//モリサワフォント文字詰め
//記述例）@include kerning
//展開css）-webkit-font-feature-settings: 'palt' 1; font-feature-settings: 'palt' 1;
//約物半角にしたいときは、sass内での記述を@include kerning('halt');とする
@mixin kerning($type:'palt'){
	-webkit-font-feature-settings: $type 1; // for Android 4.4
	font-feature-settings: $type 1;
}
