@charset "UTF-8";
// Sass Documen　変数設定


// ブレイクポイント設定////////////////////////////////////
$bp-tb: 1024px;//タブレット想定
$bp-pb: 736px;//ファブレット想定
$bp-sp: 500px;//スマートフォン想定


// カラー //////////////////////////////////////////////
// ブランドカラー
$aquasBlue: rgba(0,51,128,1.0);//ロゴガイドライン上の実際のブルー
//※aquasBlue（ロゴブルー）はデザインとして使用する場合に濃すぎるため、デザインで使用するブルーは$baseBlueを使用する。
$aquasYellow:rgba(255,224,35,1.0);//ロゴの黄色


// ホームページ基本色
$baseBlue: #0381FF;
$lightBlue: #18D1DF;

// リンク
$link-color:$baseBlue !default;
$link-bg-color:rgba( $link-color, 0.2 );
$link-hover-color:      lighten($link-color, 15%) !default;
$link-hover-decoration: underline !default;

// カラー
$gray-dark:  rgba(77,77,77,1.00) !default;
$gray-light: rgba(127,127,127,1.00) !default;


// 幅定義 //////////////////////////////////////////////
// サイトの基本幅(default width)
$df-width: 1024px;
// サイトの拡張幅(Extended width)
$ex-width: 1280px;


// 余白定義 //////////////////////////////////////////////
//基本余白の定義
$df-space: 60px;
$df-space-tb: 40px;
$df-space-pb: 20px;
$df-space-sp: 20px;


// フォントスタイル /////////////////////////////////////
$font-base-color:    rgba(51,51,51,1.00) !default;
$font-family-base:   "Noto Sans JP", 'メイリオ','Meiryo', sans-serif !default;
$font-size-base-px:  16px !default;
$font-size-base-rem: 1.6rem !default;
$line-height-base: 2 !default;

//フォントスタイル(tablet)
$font-size-base-px-tb:  14px !default;
$font-size-base-rem-tb: 1.4rem !default;

//フォントスタイル(phablet)
$font-size-base-px-pb:  13px !default;
$font-size-base-rem-pb: 1.3rem !default;

//フォントスタイル(smartphone)
$font-size-base-px-sp:  13px !default;
$font-size-base-rem-sp: 1.3rem !default;


//フォント定義は_webfont.scssに統合
