@charset "UTF-8";
// Font設定

// モリサワType Square ************************************

//ヒラギノ角ゴ
$Hiragino-W3:"ヒラギノ角ゴ W3 JIS2004" !default;
$Hiragino-W6:"ヒラギノ角ゴ W6 JIS2004" !default;
$Hiragino-W8:"ヒラギノ角ゴ W8 JIS2004" !default;

//ゴシックMB101
$GoMB101-L	:"ゴシックMB101 L" !default;
$GoMB101-R	:"ゴシックMB101 R" !default;
$GoMB101-M	:"ゴシックMB101 M" !default;
$GoMB101-DB	:"ゴシックMB101 DB" !default;
$GoMB101-B	:"ゴシックMB101 B" !default;

//新ゴシック
$ShinGo-EL	:"新ゴ EL" !default;
$ShinGo-L	:"新ゴ L" !default;
$ShinGo-R	:"新ゴ R" !default;
$ShinGo-M	:"新ゴ M" !default;
$ShinGo-DB	:"新ゴ DB" !default;
$ShinGo-B	:"新ゴ B" !default;

//中ゴシックBBB
$CyuGo		:"中ゴシックBBB" !default;

//見出ゴMB31
$MideGo	:"見出ゴMB31" !default;

//リュウミン
$Ryumin-R	:"リュウミン R-KL" !default;
$Ryumin-B	:"リュウミン B-KL" !default;
$Ryumin-EB	:"リュウミン EB-KL" !default;

//游ゴシック
$YuGo		:"游ゴシック","Yu Gothic",YuGothic !default;

//光明
$Kocho		:"光朝" !default;

//英字
$font-family-sans-serif    :"acumin-pro" !default; //Acumin Pro Thin";

//original fonts
$Tex-R:"TeXGyreAdventorRegular";


// モリサワType Square *******************************************************
//ヒラギノ角ゴ
@mixin Hiragino-W3{ font-family:$Hiragino-W3; }
@mixin Hiragino-W6{ font-family:$Hiragino-W6; }
@mixin Hiragino-W8{ font-family:$Hiragino-W8; }

//ゴシックMB101
@mixin GoMB101-L	{ font-family:$GoMB101-L; }
@mixin GoMB101-R	{ font-family:$GoMB101-R; }
@mixin GoMB101-M	{ font-family:$GoMB101-M; }
@mixin GoMB101-DB	{ font-family:$GoMB101-DB; }
@mixin GoMB101-B	{ font-family:$GoMB101-B; }

//新ゴシック
@mixin ShinGo-EL {font-family: $ShinGo-EL;}
@mixin ShinGo-L {font-family: $ShinGo-L;}
@mixin ShinGo-R {font-family: $ShinGo-R;}
@mixin ShinGo-M {font-family: $ShinGo-M;}
@mixin ShinGo-DB {font-family: $ShinGo-DB;}
@mixin ShinGo-B {font-family: $ShinGo-B;}

//中ゴシック
@mixin CyuGo{font-family: $CyuGo;}

//見出ゴ
@mixin MideGo{font-family: $MideGo;}

//リュウミン
@mixin Ryumin-R	{font-family: $Ryumin-R;}
@mixin Ryumin-B	{font-family:$Ryumin-B;}
@mixin Ryumin-EB		{font-family:$Ryumin-EB;}

//游ゴシック
@mixin YuGo {font-family: $YuGo;}

//光明
@mixin Kocho {font-family: $Kocho;}

//acmin-pro
@mixin acmin-pro	{font-family:$acmin-pro;}

@mixin font($font){
	font-family: $font;
}
