@charset "UTF-8";
// Sass Document　レイアウト設定

//original設定
@import '_base';
@import '_import';

/* デフォルト設定 ******************************************************/
html {height: 100%;}
body {
	min-width: 768px;
	height: 100%;
	box-sizing: border-box;
	color: $font-base-color;
	font-weight: 400;
	line-height: $line-height-base;
	&.js_isSafari {
		font-family: sans-serif;//safariのnotosansとfontawasomeの組合せ文字化け対策
	}
	@include media(tablet) {
		font-size: $font-size-base-px-tb;
		font-size: $font-size-base-rem-tb;
	}
	@include media(phablet) {
		font-size: $font-size-base-px-pb;
		font-size: $font-size-base-rem-pb;
	}
	@include media(smartphone) {
		font-size: $font-size-base-px-sp;
		font-size: $font-size-base-rem-sp;
	}
}

section {padding-bottom: 120px;}

//デフォルトリンクタグ
a {
//	&:link {color: $link-color;}
//	&:visited {color: $link-color;}
//	&:hover {color: $link-hover-color;}
	&:active {color: $link-hover-color;}
}


//デフォルトタイトルタグ
h1, h2, h3 {
	font-feature-settings: "palt";
	&.title-jp {
		font-family: noto-sans-cjk-jp, "Noto Sans JP", sans-serif;
		&_A1 {
			font-family: 'Noto Serif JP', serif;
			font-weight: 600;
			line-height: 1;
		}
	}
	&.title-en {
		font-family: 'Roboto', sans-serif;
		font-weight: 100;
		line-height: 1;
		opacity: 0.3;
		letter-spacing: -0.03em;
		&_crimson {
			font-family: 'Crimson Text', serif;
			font-weight: normal;
			font-style: italic;
			line-height: 1;
			letter-spacing: -0.03em;
		}
	}
}
h1 {
	&.title-en {}
	&.title-jp {
		&_A1 {
			margin: 0.5em auto;
			font-size: 70px;
			font-weight: normal;
			line-height: 1.2;
		}
	}
	@include media(tablet) {
		&.title-en {}
		&.title-jp {
			&_A1 {font-size: 63px;}
		}
	}
	@include media(phablet) {
		&.title-en {}
		&.title-jp {
			&_A1 {font-size: 56px;}
		}
	}
	@include media(smartphone) {
		&.title-en {}
		&.title-jp {
			&_A1 {font-size: 44.8px;}
		}
	}
}
h2 {
	&.title-en {font-size: 88px;}
	&.title-jp {
		margin: 0.5em auto 1em;
		font-size: 45px;
		font-weight: 300;
		line-height: 1.2;
		padding: 5px 0;
		text-align: center;
		&_A1 {
			margin: 1.25em auto;
			font-size: 51px;
			font-weight: normal;
			line-height: 1.2;
		}
	}
	@include media(tablet) {
	}
	@include media(phablet) {
		&.title-en {font-size: 70.4px;}
		&.title-jp {
			font-size: 34px;
			&_A1 {font-size: 40.8px;}
		}
	}
	@include media(smartphone) {
		&.title-en {font-size: 56.3px;}
		&.title-jp {
			font-size: 30px;
			&_A1 {font-size: 32.6px;}
		}
	}
}
h3 {
	&.title-en {
		&_crimson {
			margin: 0.6em auto;
			font-size: 74px;
		}
	}
	&.title-jp {
		margin-top: 0.7em;
		margin-bottom: 0.7em;
		font-size: 30px;
		color: $lightBlue;
		font-weight: 400;
		line-height: 1.5;
		&_A1 {font-size: 60px;}
	}
	@include media(tablet) {
		&.title-jp {
			&_A1 {font-size: 54px;}
		}
	}
	@include media(phablet) {
		&.title-en {
			&_crimson {font-size: 59px;}
		}
		&.title-jp {
			font-size: 16.2px;
			&_A1 {font-size: 48px;}
		}
	}
	@include media(smartphone) {
		&.title-en {
			&_crimson {font-size: 47px;}
		}
		&.title-jp {
			&_A1 {font-size: 43px;}
		}
	}
}


//注意囲み
.note {
	display: inline-block;
	padding: 2px 1em;
	border: solid 1px #FF0000;
	color: #FF0000;
}

main {
	//border-top: solid 0.1px transparent;
	border-bottom: solid 0.1px transparent;
}

//デフォルトvideoタグフォーマット
video { width: 100%; }

//デフォルトimgタグフォーマット
img {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
	align-self: center;//PC Safariのflexbox内のheight:autoが効かない対策用
}


///////////////////////////////////////////////////////////////////////
// 共通フォーマットスタイル（.com-）
///////////////////////////////////////////////////////////////////////

.com-flex {
	display: flex;
	align-items: center;
	&__wrap {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
	}
	&--right {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		&__wrap {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			flex-wrap: wrap;
		}
	}
	&--left {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		&__wrap {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			flex-wrap: wrap;
		}
	}
	&--center {
		display: flex;
		justify-content: center;
		align-items: center;
		&__wrap {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
		}
	}
	&--around {
		display: flex;
		justify-content: space-around;
		align-items: center;
		&__wrap {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
		}
	}
	&--between {
		display: flex;
		justify-content: space-between;
		align-items: center;
		&__wrap {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
		}
	}
}

//
.com-align {
	text-align: justify !important;
	&--center {text-align: center !important;}
	&--right {text-align: right !important;}
	&--left {text-align: left !important;}
}

//注釈
.com-annotation {
	display: block;
	font-size: 87.5%;
	line-height: 1.2;
}
.com-note {
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

/* 共通マーク **********************************************************/

//右矢印アイコン
.arrow-rignt {
	display: inline-block;
	width: 30px;
	height: 30px;
	padding-left: 5px;
	box-sizing: border-box;
	border-radius: 15px;
	background-color: $aquasYellow;
	color: $baseBlue;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	font-size: 30px;
	text-align: center;
	line-height: 1;
	&:hover {
		transform: translate(1px, 1px);
	}
}


///////////////////////////////////////////////////////////////////////
// 標準ボタンスタイル（.btn-）
///////////////////////////////////////////////////////////////////////

/* ボタンスタイル ******************************************************/
//ボタン並び、ポジション等の設定
.btnWrap {
	margin-top: 20px;
	padding: 0 $df-space;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	@include media(tablet) {
		padding: 0 $df-space-tb;
		margin-top: 15px;
	}
	@include media(phablet) {
		padding: 0 $df-space-pb;
		margin-top: 10px;
	}
	@include media(smartphone) {
		padding: 0 $df-space-sp;
	}

	&.set-left {
		justify-content: flex-start;
		padding-left: 0;
		.BT-line {margin: 10px 10px 0 0;}
		.BT-face {margin: 10px 10px 0 0;}
	}
	&.set-right {
		justify-content: flex-end;
		padding-right: 0;
		.BT-line {margin: 10px 0 0 10px;}
		.BT-face {margin: 10px 0 0 10px;}
	}
	&.set-vertical {
		flex-direction: column;
		align-items: center;
		&.set-left {align-items: flex-start;}
		&.set-right {align-items: flex-end;}
	}
}


//角丸線ボタン
.BT-line, .BT-line--small {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 200px;
	height: 45px;
	margin: 10px 10px;
	padding: 0 0.5em;
	box-sizing: border-box;
	border: solid 1px white;
	border-radius: 22.5px;
	font-size: 18px;
	font-family: noto-sans-cjk-jp, "Noto Sans JP", sans-serif;
	font-weight: 300;
	text-decoration: none;
	line-height: 1;
	
	//幅固定を開放
	&.set-freewidth {width: auto;}
	&:link {color: white;}
	&:visited {color: white;}
	&:hover {background-color: rgba($baseBlue, 0.15);}
	
	//アイコンオプション
	&.iconPosition-R {
		padding: 0 1.5em;
		&::after {
			content: "\f105";
			color: $aquasYellow;
			position: absolute;
			top: 50%;
			right: 10px;
			transform: translateY(-50%);
			font-family: "Font Awesome 5 Free";
			font-weight: 900;
			font-size: 120%;
		}
	}
	&.iconPosition-L {
		padding: 0 1.5em;
		&::before {
			content: "\f105";
			color: $aquasYellow;
			position: absolute;
			top: 50%;
			left: 10px;
			transform: translateY(-50%);
			font-family: "Font Awesome 5 Free";
			font-weight: 900;
			font-size: 120%;
		}
	}
	@include media(tablet) {
	}
	@include media(phablet) {
		font-size: 18px;
	}
	@include media(smartphone) {
	}
}
.BT-line--small {
	width: 170px;
	height: 40px;
	margin: 8px;
	padding: 0 0.5em;
	font-size: 15px;
}

//角丸面ボタン
.BT-face {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 80px;
	min-width: 360px;
	margin: 10px;
	padding: 0 0.5em;
	box-sizing: border-box;
	background-color: $lightBlue;
	border-radius: 40px;
	font-size: 34px;
	font-family: noto-sans-cjk-jp, "Noto Sans JP", sans-serif;
	font-weight: 400;
	text-decoration: none;
	box-shadow: 0 2px 2px  rgba(0,0,0,0.3);
	&:link {color: white;}
	&:visited {color: white;}
	&:hover {
		background-color: rgba($lightBlue, 0.5);
		box-shadow: 0 1px 1px  rgba(0,0,0,0.3);
		transform: translateY(1px);
	}
	@include media(tablet) {
		height: 60px;
		min-width: 260px;
		font-size: 27.2px;
	}
}


///////////////////////////////////////////////////////////////////////
// 共通コンポーネント
///////////////////////////////////////////////////////////////////////



///////////////////////////////////////////////////////////////////////
// レイアウト調整スタイル
///////////////////////////////////////////////////////////////////////

/* サイト幅 ***********************************************************/
//コンテンツ基本幅
.basicWrap {
	@include basicWrap;
	@include media(tablet) {
		padding-left:$df-space-tb;
		padding-right:$df-space-tb;
	}
	@include media(phablet) {
		padding-left:$df-space-pb;
		padding-right:$df-space-pb;
	}
	@include media(smartphone) {
		padding-left:$df-space-sp;
		padding-right:$df-space-sp;
	}
}
//コンテンツ拡張幅
.wideWrap {
	@include wideWrap;
	@include media(tablet) {
		padding-left:$df-space-tb;
		padding-right:$df-space-tb;
	}
	@include media(phablet) {
		padding-left:$df-space-pb;
		padding-right:$df-space-pb;
	}
	@include media(smartphone) {
		padding-left:$df-space-sp;
		padding-right:$df-space-sp;
	}
}


/* 表示制限 ***********************************************************/
// only表示を付けることで、それ以外のメディアクエリ幅では非表示にすることができる
// PCだけ表示したい場合は、.is-active--pcを付加する。二重付け可能
@media screen and(min-width:$bp-tb) {
	.is-active--sp {
		display: none;
		&.is-active--pc {display: block;}
	}
	.is-active--tb {
		display: none;
		&.is-active--pc {display: block;}
	}
}
@media screen and (min-width:$bp-sp) and (max-width:$bp-tb) {
	.is-active--pc {
		display: none;
		&.is-active--tb {display: block;}
	}
	.is-active--sp {
		display: none;
		&.is-active--tb {display: block;}
	}
}
@media screen and (max-width: $bp-sp) {
	.is-active--pc {
		display: none;
		&.is-active--sp {display: block;}
	}
	.is-active--tb {
		display: none;
		&.is-active--sp {display: block;}
	}
}


///////////////////////////////////////////////////////////////////////
// その他
///////////////////////////////////////////////////////////////////////

/* 段落区切りボーダー ***************************************************/
hr {
	border: none;
	border-top: solid 1px #333;
	//上下余白の設定（文章区切り用）
	&.set-margin--word {
		margin-top: 20px;
		margin-bottom: 20px;
		@include media (phablet) {
			margin-top: 18px;
			margin-bottom: 18px;
		}
	}
	//上下余白の設定（コンテンツ区切り用）
	&.set-margin--content {
		margin-top: 60px;
		margin-bottom: 60px;
		@include media (phablet) {
			margin-top: 48px;
			margin-bottom: 48px;
		}
	}
	//上下余白の設定（章区切り用）set-margin--section
	&.set-margin--section {
		margin-top: 100px;
		margin-bottom: 100px;
		@include media (phablet) {
			margin-top: 80px;
			margin-bottom: 80px;
		}
	}
	&.basicWrap {
		padding: 0;
		@include media (tablet) {
			margin-left: $df-space-tb;
			margin-right: $df-space-tb;
		}
		@include media (phablet) {
			margin-left: $df-space-sp;
			margin-right: $df-space-sp;
		}
	}
}

//ルビを振る場合の設定
//例）<h1><span data-ruby="キシブル">xble</span></h1>
[data-ruby] {
	position: relative;
}
[data-ruby]::before {
	content: attr(data-ruby);
	position: absolute;
	top: -1em;
	left: 50%;
	transform: translateX(-50%);
	@include fs(14, 1.0);
	color: $lightBlue;
	font-weight: normal;
	width: 100%;
}

//頭出し時のかぶり防止
.anchorlink {
	padding-top: 80px;
	margin-top: -80px;
}


/* Modalスタイル ******************************************************/
.modal {
	margin: 0 auto;
	border-radius: 10px;
	background-color: white;
	.modalWrap {
		overflow: hidden;
		border-radius: 10px;
		.modal-title {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 80px;
			padding: 0 $df-space;
			border-bottom: solid 1px #888;
		}
		.modal-contentsWrap {
			max-height: 80vh;
			overflow-y: auto;
			.modal-contents {
				padding: 25px $df-space-tb;
			}
		}
	}
	@include media(phablet) {//736
		.modalWrap .modal-contentsWrap .modal-contents {padding: 25px $df-space-pb;}
	}
	@include media(smartphone) {
		.modalWrap .modal-title {height: 60px;}
		.modalWrap .modal-contentsWrap .modal-contents {padding: 25px $df-space-sp;}
	}
}

//jQuery lity上書き
.lity-wrap {
	padding-left: 10%;
	padding-right: 10%;
	@include media(phablet) {
		padding-left: 7%;
		padding-right: 7%;
	}
	@include media(smartphone) {
		padding-left: 2%;
		padding-right: 2%;
	}
}
.lity-container {
	min-width: 500px;
	@include media(smartphone) {
		width: 90%;
		min-width: inherit;
	}
}




/* 共通見出し **********************************************************/


//セクション間余白 ******************************************************/
.common-contentsSpacing {
	margin-top: 100px;
	@include media(tablet) {margin-top: 80px;}
	@include media(phablet) {margin-top: 64px;}
	&--half {
		margin-top: 50px;
		@include media(phablet) {margin-top: 40px;}
	}
}


///////////////////////////////////////////////////////////////////////
// 状態スタイル（.is-）
///////////////////////////////////////////////////////////////////////




//end
