@charset "UTF-8";
// index.html 専用設定

//original設定
@import '_import';


/* companyformat ********************************************************/
.company {
	#contents-base {
		overflow: hidden;
		//商品特徴丸囲み
		.headNav {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			padding-left: 40px;
			padding-right: 20%;
			box-sizing: border-box;
			min-height: 124px;
			background-color: #9EDDE2;
			>a {
				color: white;
				font-size: 30px;
				&:hover {opacity: 0.7;}
			}
			.navList {
				display: flex;
				list-style: none;
				li {
					margin: 0 0.5em;
					.btnWrap {
						margin-top: 0;
						padding: 0;
						.BT-line {margin-top: 0;}
					}
					&.amazonBT {
						display: flex;
						flex-direction: column;
						align-items: center;
						a {
							display: flex;
							align-items: center;
							height: 55px;
						}
					}
				}
			}
		}
	}
	

/* SECTION（会社概要） */
	#companyProfile {
		padding: 100px 20px 80px;
		text-align: center;
		.companyProfileList {
			max-width: 1200px;
			margin: 0 auto;
			border-top: solid 1px black;
			border-bottom: solid 1px black;
			list-style: none;
			text-align: left;
			li {
				display: flex;
				align-items: center;
				min-height: 100px;
				border-bottom: solid 1px rgba(112,112,112,0.5);
				span {min-width: 12em;}
			}
		}
	}
	

/* SECTION（お問合せ） */
	#inquiries {
		padding-bottom: 160px;
		text-align: center;
	}
}//company


//company共通部品
.tel {
	margin-top: 3rem;
	i {
		margin-left: -1em;
		margin-right: 0.2em;
		font-size: 50px;
		color: $lightBlue;
	}
	a {
		font-family: 'Roboto', sans-serif;
		font-size: 60px;
		font-weight: 700;
		line-height: 1.2;
		text-decoration: none;
		color: black;
		&:hover {color: $baseBlue;}
	}
	small {
		display: block;
		font-size: 20px;
		font-weight: 400;
	}
}