@charset "UTF-8";
// index.html 専用設定

//original設定
@import '_import';


/* homeformat ********************************************************/
.home {
	#contents-base {
		overflow: hidden;
		//商品特徴丸囲み
		.specBlock {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			display: flex;
			justify-content: center;
			flex-direction: column;
			width: 100%;
			min-width: 768px;
			padding-top: 35%;
			@media screen and (min-width:1920px) {padding-top: 670px;}
			@media screen and (max-width:768px) {padding-top: 264px;}
			.spec-ring {
				display: flex;
				justify-content: center;
				width: 100%;
				padding: 0 20%;
				box-sizing: border-box;
				li {
					position: relative;
					width: 30%;
					max-width: 300px;
					padding-top: 30%;
					margin: 0 1.5%;
					border-radius: 50%;
					border: solid 2px $lightBlue;
					background-color: white;
					display: flex;
					justify-content: center;
					align-items: center;
					@media screen and (min-width:1666px) {
						padding-top: 0;
						height: 300px;
					}
					>span {
						position: absolute;
						left: 0;
						top: 50%;
						transform: translateY(-50%);
						width: 100%;
						padding: 0 0.2em;
						box-sizing: border-box;
						text-align: center;
						font-family: noto-sans-cjk-jp, "Noto Sans JP", sans-serif;
						font-weight: 700;
						font-feature-settings: "palt";
						font-size: 2.46vw;
						line-height: 1.4;
						color: $lightBlue;
						>small {
							display: block;
							font-size: 50%;
							&::before {content: "（";}
							&::after {content: "）";}
						}
						@media screen and (min-width:1666px) {font-size: 41px;}
						@media screen and (max-width:768px) {font-size: 18.9px;}
					}
				}
			}
			.type-ring {
				display: flex;
				justify-content: center;
				width: 100%;
				padding: 0 20%;
				box-sizing: border-box;
				li {
					position: relative;
					width: 20%;
					max-width: 198px;
					padding-top: 20%;
					margin: 0 1.5%;
					border-radius: 50%;
					background-color: $lightBlue;
					display: flex;
					justify-content: center;
					align-items: center;
					@media screen and (min-width:1666px) {
						padding-top: 0;
						height: 198px;
					}
					>span {
						position: absolute;
						left: 0;
						top: 50%;
						transform: translateY(-50%);
						width: 100%;
						padding: 0 0.2em;
						box-sizing: border-box;
						text-align: center;
						font-family: noto-sans-cjk-jp, "Noto Sans JP", sans-serif;
						font-weight: 700;
						font-feature-settings: "palt";
						font-size: 1.681vw;
						line-height: 1.4;
						color: white;
						@media screen and (min-width:1666px) { font-size: 28px; }
						@media screen and (max-width:768px) {font-size: 13px;}
					}
				}
			}
		}
	}
	

/* SECTION（商品説明） */
	#description {
		padding-top: 30%;
		text-align: center;
		@media screen and (min-width:1666px) { padding-top: 495px; }
		.pickupTxt {
			margin-top: 2.25em;
			font-size: 20px;
			line-height: 2.25;
			&:first-child {margin-top: 0;}
		}
		.descriptionImg {
			margin: 80px auto 100px;
			text-align: center;
			img {
				display: inline-block;
				border-radius: 10px;
				overflow: hidden;
				box-shadow: 0 5px 10px rgba(0,0,0,0.1);
				@media screen and (max-width:1000px) { border-radius: 0; }
			}
		}
	}
	

/* SECTION（トイレからの感染） */
	#toiletInfection {
		padding: 40px 0;
		text-align: center;
		background-color: #E9E9E9;
		p {text-align: justify;}
		.toiletInfectionList {
			display: flex;
			justify-content: space-between;
			margin: 20px -5px;
			li {
				display: flex;
				flex-direction: column;
				justify-content: center;
				padding: 20px 15px;
				margin: 5px;
				width: calc(25% - 10px);
				background-color: white;
				border-radius: 10px;
				list-style: none;
				font-size: 1.4rem;
				.balloon {
					position: relative;
					margin: 15px 0 20px;
					padding: 10px;
					text-align: center;
					font-family: noto-sans-cjk-jp, "Noto Sans JP", sans-serif;
					font-weight: 900;
					font-feature-settings: "palt";
					font-size: 34px;
					color: $baseBlue;
					border: solid 1px $baseBlue;
					border-radius: 10px;
					line-height: 1.1;
					span {display: inline-block;}
					&::before {
						content: "";
						position: absolute;
						bottom: -14px;
						left: 50%;
						width: 13px;
						height: 13px;
						border: solid 1px $baseBlue;
						transform: rotate(45deg) translateX(-50%);
					}
					&::after {
						content: "";
						position: absolute;
						bottom: -12px;
						left: 50%;
						width: 15px;
						height: 15px;
						background-color: white;
						transform: rotate(45deg) translateX(-50%);
					}
				}
			}
		}
	}

	
/* SECTION（利用シーン） */	
	#useScene {
		padding-top: 120px;
		.useSceneList {
			display: flex;
			justify-content: center;
			margin: 0 -15px;
			li {
				margin: 15px;
				list-style: none;
				text-align: center;
				font-size: 1.7rem;
				font-weight: 500;
				.title-jp_A1 {
					margin: -0.5em 0 1em;
				}
				&:first-child {.title-jp_A1 {color: #DF1855;}}
				&:last-child {.title-jp_A1 {color: $lightBlue;}}
			}
		}
	}
	

/* フィトンチッドとは */
	#phytoncide {
		position: relative;
		padding: 100px 0 140px;
		color: white;
		text-align: center;
		background-color: rgba(85,194,143,0.7);
		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
			background-image: url(../images/phytoncide-bg.jpg);
			background-position: top center;
			background-size: cover;
		}
		p {
			font-size: 20px;
			line-height: 2.25;
			margin-top: 5rem;
			&:first-child {margin-top: 0;}
		}
	}
	/* 使い方 */
	#howTo {
		padding: 250px 20px 80px;
		.howToWrap {
			padding: 60px 40px 80px;
			border: solid 2px #D5E1DD;
			border-radius: 15px;
			text-align: center;
			.packageCircle {
				display: flex;
				justify-content: center;
				width: 260px;
				height: 260px;
				margin: -180px auto 0;
				background-color: #D5E1DD;
				border-radius: 50%;
				.package {
					width: 110px;
				}
			}
		}
		.howToBlock {
			max-width: 845px;
			margin:0 auto 100px;
			&:last-child {margin-bottom: 0;}
			h4 {font-size: 24px; font-weight: normal;}
			h5 {
				font-size: 18px;
				font-weight: 900;
				text-align: left;
			}
			p {
				margin-bottom: 1.4rem;
				font-size: 18px;
				font-weight: 300;
				line-height: 1.4;
				text-align: justify;
			}
			.howToImg {
				margin-bottom: 20px;
				display: flex;
				justify-content: center;
				list-style: none;
				li {
					list-style: none;
					width: 50%;
					background-color: gainsboro;
				}
			}
			.howToDl {
				display: flex;
				margin-top: 60px;
				dt {
					min-width: 200px;
					height: 200px;
					background-color: gainsboro;
				}
				dd {
					padding-left: 2rem;
					h5 {
						margin: -0.3em auto 0.5em;
						color: $lightBlue;
					}
				}
			}
		}
	}

	/* お買い求めはこちら */
	#purchase {}
}//home


//home共通部品
.bay {
	text-align: center;
	a:hover {opacity: 0.6;}
	small {display: block;}
	p {margin-top: 1.2em;}
}