<!DOCTYPE html>
<html lang="ja">
<head>
	<!--meta template----------------------------------------------------------->
	<%# 画面ID設定 %>
	<% const pageId = "company"; %>
	<%# template/_meta.ejsをインクルード %>
	<% var path = './'; %>
	<%-
	  include(path + 'template/_meta', {
	    page: json[pageId]
	  });
	%>
	<!--/meta template---------------------------------------------------------->
	
	<!--専用スタイル-->
	<link rel="stylesheet" type="text/css" href="assets/css/company.css?rev" media="all">
	
	<!--Google Analytics-->
	<script src="gtag.js"></script>
</head>
<body class="<%- pageId %>">
	
	<!--header template--------------------------------------------------------->
	<%# template/_header.ejsをインクルード %>
	<%-
		include(path + 'template/_header', {
		//ヘッダーテンプレへ変数引き渡し
		pageId
	});
	%>
	<!--/header template-------------------------------------------------------->

	<main>
		<article id="contents-base">
			<nav class="headNav">
				<a href="/"><i class="fas fa-home"></i></a>
				<ul class="navList">
					<li class="amazonBT">
						<span>こちらで販売中</span>
						<a href="https://www.amazon.co.jp/" target="_blank">
							<img src="assets/images/amazon.png" class="">
						</a>
					</li>
					<li class="">
						<div class="btnWrap set-vertical">
							<span>大口注文は</span>
							<a href="https://forms.gle/sCWgdZNcGELhi1KU8" class="BT-line">お問合せ</a>
						</div>
					</li>
				</ul>
			</nav>
		
			<!--お買い求めはこちら-->
			<section id="companyProfile">
				<h2 class="title-jp basicWrap">会社概要</h2>
				<ul class="companyProfileList">
					<li><span>発売元/製造元</span>有限会社フォーリスト</li>
					<li><span>代表取締役</span>山本　幸世</li>
					<li><span>設立年月日</span>昭和58年5月19日</li>
					<li><span>資本金</span>1,000万円</li>
					<li><span>所在地</span>東京都中央区新川２丁目２番１号４１４</li>
					<li><span>電話</span>0120-610-537</li>
				</ul>
			</section>
			
			<!--お問合せ-->
			<section id="inquiries">
				<div class="btnWrap set-center">
					<a href="https://forms.gle/sCWgdZNcGELhi1KU8" class="BT-face" target="_blank">お問合せ</a>
				</div>
				<div class="tel">
					<i class="fas fa-phone-alt" aria-hidden="true"></i>
					<a href="tel:0120-610-537">0120-610-537</a>
					<small>（営業時間　平日 9:00～17:00）</small>
				</div>
			</section>
		</article>
	</main>
	
	<!--footer template--------------------------------------------------------->
	<%- include('template/_footer') %>
	<!--/footer template-------------------------------------------------------->

</body>
</html>
