<!DOCTYPE html>
<html lang="ja">
<head>
	<!--meta template----------------------------------------------------------->
	<%# 画面ID設定 %>
	<% const pageId = "home"; %>
	<%# template/_meta.ejsをインクルード %>
	<% var path = './'; %>
	<%-
	  include(path + 'template/_meta', {
	    page: json[pageId]
	  });
	%>
	<!--/meta template---------------------------------------------------------->
	
	<!--専用スタイル-->
	<link rel="stylesheet" type="text/css" href="assets/css/home.css?rev" media="all">
	
	<!--Google Analytics-->
	<script src="gtag.js"></script>
</head>
<body class="<%- pageId %>">
	
	<!--header template--------------------------------------------------------->
	<%# template/_header.ejsをインクルード %>
	<%-
		include(path + 'template/_header', {
		//ヘッダーテンプレへ変数引き渡し
		pageId
	});
	%>
	<!--/header template-------------------------------------------------------->

	<main>
		<article id="contents-base">
			<div class="specBlock">
				<ul class="spec-ring">
					<li class=""><span>除菌・抗菌</span></li>
					<li class=""><span>トイレ飛沫抑制<small>トイレット・プルーム</small></span></li>
					<li class=""><span>消臭</span></li>
				</ul>
				<ul class="type-ring">
					<li class=""><span>簡易トイレ<br>対応</span></li>
					<li class=""><span>水洗トイレ<br>対応</span></li>
				</ul>
			</div>
			
			<!--商品特徴-->
			<section id="description">
				<p class="basicWrap pickupTxt">トイレ使用中や流すときの水跳ねや空気中に飛散するエアロゾルの「トイレットプルーム」。<br class="is-active--pc">
					糞便から感染するトイレ感染の原因にもなるトイレ飛沫を「泡の層」を作ることで抑制します。</p>
				<p class="basicWrap pickupTxt">また、災害時などの水が使えないときにはニオイの発生源からも10時間以上持続する泡の層で遮断し<br class="is-active--pc">
					防災対策としても効果を発揮します。<br class="is-active--pc">
					簡易トイレや、水洗トイレなどあらゆるトイレで使用することができます。<br class="is-active--pc">
					日常のトイレ飛沫対策や、防災対策としてお役立てください。</p>
				
				<div class="descriptionImg">
					<img src="assets/images/awapower.png" class="">
				</div>
				
				<div class="bay">
					<a href="https://www.amazon.co.jp/" target="_blank">
						<small>こちらで販売中</small>
						<img src="assets/images/amazon.png" class="">
					</a>
					<p>法人・団体・公共機関等の大口注文は<a href="https://forms.gle/sCWgdZNcGELhi1KU8" target="_blank">お問合せ</a>よりご依頼ください。</p>
					<p class="note">※この商品は洗浄商品ではありません</p>
				</div>
			</section>

			<!--トイレからの感染-->
			<section id="toiletInfection">
				<div class="basicWrap">
					<img src="assets/images/toiletInfection-mark.gif" class="">
					<h2 class="title-jp">トイレからの感染</h2>
					<p>排泄物を介して起こりうる感染症の感染経路のほとんどは「糞口感染」といわれており、排泄物から舞い上がる飛沫を吸い込んだり、トイレ後の手洗いが不十分でその後手指を介して食事から口へ運んでしまうなどが原因とされています。<br class="is-active--pc">
					注意しなくてはならない感染症としてノロウィルスや、ロタウィルス、O-157が挙げられます。また新型コロナウィルスも感染者の排泄物からウィルスが検出されることが知られています。<br class="is-active--pc">
					トイレ使用中、流す際に多くの細かな飛沫が実は飛んでおり、トイレ使用後の手洗いはもちろんですが使用中も予防対策が求められます。</p>
					<ul class="toiletInfectionList">
						<li>
							<p class="balloon">80万<span>個</span></p>
							水を流す際に<br>
							1回あたり80万個の<br>
							飛沫が飛ぶ
						</li>
						<li>
							<p class="balloon">1m</p>
							トイレの床から<br>
							1m高さまで<br>
							飛沫が飛んでいる
						</li>
						<li>
							<p class="balloon">1分<span>以上</span></p>
							使用後も<br>
							1分以上空気中を<br>
							飛散している
						</li>
						<li>
							<p class="balloon">200～<span>500滴</span></p>
							トイレ使用中の跳ねは<br>
							1回に200～500滴<br>
							飛散している
						</li>
					</ul>
				</div>
			</section>
			
			<!--利用シーン-->
			<section id="useScene" class="basicWrap">
				<h2 class="title-jp">利用シーン</h2>
				<ul class="useSceneList">
					<li>
						<img src="assets/images/useSceneList-img1.png" class="">
						<h3 class="title-jp_A1">感染対策</h3>
						<p>家庭内トイレ。<br>
						介護施設、避難所・公共施設などの共用トイレ。<br>
						工事現場・イベント会場などの仮設トイレ。</p>
					</li>
					<li>
						<img src="assets/images/useSceneList-img2.png" class="">
						<h3 class="title-jp_A1">抗菌・消臭</h3>
						<p>災害時、水が流せないときのトイレ・簡易トイレの消臭。<br>
						その他、台所や、お風呂などの排水口の消臭。<br>
						冷蔵庫の消臭などにもご利用いただけます。</p>
					</li>
				</ul>
			</section>
			
			<!--利用シーン-->
			<section id="phytoncide">
				<h2 class="title-jp wideWrap">フィトンチットとは</h2>
				<p class="wideWrap">自然由来成分のフィトンチットは樹木の持っている身を守る力。<br class="is-active--pc">強い殺菌（除菌・抗菌）作用を持ち、病院、介護施設、飲食店や食品工場でも使用されている、安心・安全な成分です。<br class="is-active--pc">
				消臭作用もあり「分解中和消臭」と呼ばれる作用で悪臭成分に付着し、悪臭の元を無効化します。<br class="is-active--pc">
				フィトンチットそのものの香りは森に入った時の森林の香りでリラックス効果も確認されています。</p>
				<p class="basicWrap">この植物からでる揮発成分を特殊技術で液化し、泡の状態で使用できるようにした<br class="is-active--pc">
				トイレ飛散防止、除菌・抗菌・消臭機能を持ったトイレ用衛生商品です。
				</p>
			</section>
			
			
			<!--使い方-->
			<section id="howTo">
				<div class="howToWrap wideWrap">
					<div class="packageCircle">
						<img src="assets/images/awaguard.png" class="package">
					</div>
					<h2 class="title-jp">使い方</h2>
					
					<div class="howToBlock">
						<h3 class="title-jp">日常の感染対策でのご利用</h3>
						<ul class="howToImg">
							<li><img src="assets/images/howTo1-1.jpg" class=""></li>
							<li><img src="assets/images/howTo1-2.jpg" class=""></li>
						</ul>
						<h5>トイレ使用前にスプレーをし泡を作っておきます。</h5>
						<p>スプレーの前に缶を良く振り、水面の部分に1～2cmくらい泡の厚みがでるくらいまでスプレーしておきます。<br>
						その後、通常通りトイレをご使用いただき、流してください。</p>
					</div>
					
					<div class="howToBlock">
						<h3 class="title-jp">水が流せない時のご利用</h3>
						<h4>簡易トイレ/水洗トイレ</h4>
						<ul class="howToImg">
							<li><img src="assets/images/howTo2-1.jpg" class=""></li>
							<li><img src="assets/images/howTo2-2.jpg" class=""></li>
						</ul>
						<h5>トイレ使用後にニオイの発生源にスプレーをします。</h5>
						<p>スプレーの前に缶を良く振り、ニオイの発生源となる汚物に対し、泡で見えなくなるまでスプレーします。<br>
						泡を長時間（20℃で約10時間以上※）持続させたい場合は、汚物が隠れる最小限の範囲で泡を厚めに（3cm以上）スプレーします。<br>
						泡のまわりのニオイが気になるときは、できるだけ広い範囲に泡を薄めにスプレーします。</p>
						<p>※泡の持続時間は気温が高くなるほど短くなります</p>
						
						<dl class="howToDl">
							<dt><img src="assets/images/howTo2-3.jpg" class=""></dt>
							<dd>
								<h5>水洗トイレの場合には、ビニール袋不要でご利用いただけます</h5>
								<p>泡で、汚物のニオイを封じ込めるのが本商品の特徴なので、ビニール袋を使ってのニオイの封じ込めが必要ありません。<br>
								便器にビニール袋などをかぶせて使用する必要なくご利用いただけます。</p>
								<p>※ビニール袋を使用していてもご利用には問題ございません</p>
							</dd>
						</dl>
					</div>
				</div>
			</section>

				
			<!--お買い求めはこちら-->
			<section id="purchase">
				<h2 class="title-jp basicWrap">お買い求めはこちら</h2>
				<div class="bay">
					<a href="https://www.amazon.co.jp/" target="_blank">
						<small>こちらで販売中</small>
						<img src="assets/images/amazon.png" class="">
					</a>
					<p>法人・団体・公共機関等の大口注文は<a href="https://forms.gle/sCWgdZNcGELhi1KU8" target="_blank">お問合せ</a>よりご依頼ください。</p>
					<p class="note">※この商品は洗浄商品ではありません</p>
				</div>
			</section>
		</article>
	</main>
	
	<!--footer template--------------------------------------------------------->
	<%- include('template/_footer') %>
	<!--/footer template-------------------------------------------------------->

</body>
</html>
