@charset "UTF-8";
// Sass Document　レイアウト設定

//original設定
@import '../_import';

//コンポーネントスタイル
#footer {
	nav {
		&.footNav {
			margin-bottom: 1.5em;
			ul {
				display: flex;
				justify-content: center;
				list-style: none;
				li {
					a {margin: 0 2em;}
					&::after {
						content: "";
						border-right: solid 1px #333;
					}
					&:last-child {
						&::after {border: none;}
					}
				}
			}
			a {
				&:link {
					color: black;
					text-decoration: none;
				}
				&:hover {
					text-decoration: underline;
					color: $link-hover-color;
				}
			}
		}
		
	}//nav

	.copyright {
		width: 100%;
		padding-left: 16px;
		padding-right: 16px;
		padding-top:40px;
		padding-bottom:40px;
		box-sizing: border-box;
		@include fs(14, 1.4)
		font-weight: 300;
		color: white;
		background-color: #51BAC1;
		@include media(tablet) {
			padding-top:30px;
			padding-bottom:30px;
		}
		&__conteiner {
			text-align: center;
		}
	}
}

