@charset "UTF-8";
// Sass Document　レイアウト設定

//original設定
@import '../_import';


/* header */
header#cover {
	width: 100%;
	.coverWrap {
		position: relative;
		padding-top: 39.5833%;
		background-image: url(../../images/com-mainimg.png);
		background-position: center;
		background-size: cover;
		@media screen and (min-width:1920px) {
			padding-top: 0;
			height: 760px;
		}
		.productCopy {
			position: absolute;
			top: 0%;
			left: 0%;
			z-index: 1;
			display: flex;
			margin: 0;
			width: 100%;
			height: 100%;
			justify-content: center;
			align-items: center;
			color: white;
			text-align: center;
			font-family: noto-sans-cjk-jp, "Noto Sans JP", sans-serif;
			font-weight: 700;
			font-feature-settings: "palt";
			font-size: 60px;
			letter-spacing: 1.2rem;
			line-height: 1.4;
			text-shadow: 0 3px 6px rgba(0,0,0,0.16);
			@media screen and (max-width:1280px) {font-size: 4.747vw;}
			@media screen and (max-width:768px) {font-size: 36.5px;}
		}
		.package {
			position: absolute;
			bottom: -45%;
			right: 40px;
			z-index: 1;
			height: 135%;
			width: auto;
		}
	}
}//header